* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #eee;
    padding: 30px;
}

form {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 100%;
}

form > div {
    width: 100px;
    height: 100px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form input:not(form input[type=file]) {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #eee;
    margin-bottom: 10px;
}

form input[type=file] {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #eee;
}

form button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #7070ff;
    color: #fff;
    cursor: pointer;
    border: none;
}